{% load dajaxice_templatetags %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <style type="text/css">
      body {
        padding-top: 100px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      table{
        width: 100%;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!---
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png"> -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand"><img src="/static/img/ssulogo.gif"> SSU Key Control</a>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
              <li><i class="icon-user"></i> {{ user.username }}</li>
              <li><a href="/logout/">Log Out</a></li>
            {% else %}
              <li><a href="/login/">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="/key_control/">Home</a></li>
              <li class="nav-header">Issue and Return Keys</li>
              <li><a href="/key_control/issue/">Issue Keys</a></li>
              <li><a href="/key_control/return/">Return Keys</a></li>
              <li class="nav-header">Key Reports</li>
              <li><a href="/key_control/history/">Key Transaction History</a></li>
              <li><a href="#">Key Open Locations</a></li>
              <li><a href="/key_control/position/">Key Positions</a></li>
              <li><a href="#">Buildings (Facilities)</a></li>
              <li><a href="/key_control/keysdue/">Keys Due Report</a></li>
              <li class="nav-header">Administrative Tasks</li>
              <li><a href="/key_control/usertypes/">Maintain User Types</a></li>
              <li><a href="/key_control/keytypes/">Maintain Key Types</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block content %}
          {% endblock content %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Sonoma State University 2013</p>
      </footer>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script src="{% static 'dajax/jquery.dajax.core.js' %}"></script>
    {% dajaxice_js_import %}
    {% block jsinclude %}{% endblock jsinclude %}
  </body>
</html>
