{% extends "_base.html" %}

{% block content %}
  <form class="form-inline">
    <fieldset>
      <legend>Fields with an asterisk (*) are required.</legend>
      <input type="text" class="input-mini" placeholder="User Type*">
      <input type="text" class="input-mini" placeholder="User ID">
      <input type="text" class="input-medium" placeholder="User First Name*">
      <input type="text" class="input-medium" placeholder="User Last Name*">
      <input type="text" placeholder="Department">
    </fieldset>
  </form>

  {{ form.as_p }}
{% endblock content %}