{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block jsinclude %}
  <script type="text/javascript">
  $(function() {
    $('.dateinput').datepicker({format: "yyyy/mm/dd"});

    $('#id_position').change(function() {
      value = $(this).val();
      alert(value);
      Dajaxice.key_control.noargsTest(Dajax.process,{'value': value});
    });
  });

  function setSequences (data) {
    $('#id_sequence').empty();
    $('#id_sequence').append($('<option></option>').attr("value", "").text('---------'));
    var JSONdata = $.parseJSON(data);
    $.each(JSONdata, function(index, sequence){
      $('#id_sequence').append($('<option></option>').attr("value", sequence.pk).text(sequence.fields['sequence_num']));
    });
  };
  </script>
{% endblock jsinclude %}

{% block content %}
  {% crispy form %}
{% endblock content %}